<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
    <title>Budgtr</title>


</head>
<body>
    <div class="container">
        <button><a href="/budget/new" class="add-btn">Add a New Item</a></button>
    <h1>Budgtr</h1>
    <% let bankAccount = allBudget.reduce((newAmount, allBudget) => {return newAmount + parseInt(allBudget.amount)}, 0) %>
    <% if (bankAccount <= 0) { %>
        
        <style> 
        body {
            background-color: red;
            }
        </style>
    <% } else if (bankAccount > 1000) { %>
        <style>
        body {
            background-color: green;
            }
        </style> 
    <% } %>

    <table>
        <% for(let i = 0; i < allBudget.length; i++) { %>
        <tr>
            <td><%= allBudget[i].date %></td>
            <td><a href="/budget/<%=i%>"><%= allBudget[i].name %></a></td>
            <td><%= allBudget[i].amount %></td>        
        </tr>
        <% } %> 
    </table>
    </div>
</body>

</html>